---
import NavigationPoint from "./NavigationPoint.astro";
---

<section>
    <NavigationPoint imgSrc="../../public/images/library-icon.svg" imgAlt="library" navPointDesc="Library"/>
</section>

<style>
     section{
        padding-left: 1rem;
        background-color: rgb(37, 37, 39);
        border-radius: 10px;
        height: 100vh;
    }
</style>