---
import LogBtn from "./LogBtn.astro";
---
<section class="LogInfoGrid">
    <LogBtn info="Sign Up" />
    <LogBtn info="Login" />
</section>

<style>
    .LogInfoGrid{
        display: flex;
        justify-content: flex-end;
        gap: 1rem;
        padding-right: 1rem;
    }
</style>